/* About Section */
.about-section {
    padding: 48px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: #F8F8F8;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;

}

/* Image Content */
.about-image-content {
    flex: 1;
    text-align: center;
}

.about-image1 {
    width: 80%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.about-image1:hover {
    transform: scale(1.05);
}

/* Text Content */
.about-text-content {
    flex: 1;
    text-align: left;
}

/* Title */
.about-title {
    font-family: 'poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 16px;
    color: #222;
}

.about-title > span {
    position: relative;
    display: inline-block;
}

.about-title span::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: #795484;
    border-radius: 8px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

/* Description */
.about-description {
    margin: 24px 0;
    color: #4d4b4b;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    opacity: 0.9;
}

/* Sub-title */
.about-text-title {
    color: #4d4b4b;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 16px;
    position: relative;
}

.about-text-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #795484;
    margin-top: 8px;
    border-radius: 8px;
}

/* Steps */
.about-text-step {
    background: #Fff;
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
}

.about-text-step:hover {
    transform: translateY(-5px);
}

.about-text-sTitle {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.about-text-description {
    color: #555;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    opacity: 0.85;
}

/* Icons */
.fa-icon {
    color: #795484;
    font-size: 24px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        flex-direction: column;
        text-align: center;
        padding: 48px 8%;
    }

    .about-image-content {
        width: 100%;
    }

    .about-image1 {
        width: 90%;
        max-width: 400px;
    }

    .about-text-content {
        width: 100%;
    }

    .about-title span::before {
        width: 80%;
    }
}
